In [286]:
import requests
import pandas as pd
import getpass

#every wrapper as their own library to import API
import spotipy #specific library for spotify
from spotipy.oauth2 import SpotifyClientCredentials

In [287]:
password = getpass.getpass()

········

In [288]:
sp = spotipy.Spotify(auth_manager= SpotifyClientCredentials(client_id = '215962337f5643b9aee5eb1af13ad601',
                                                            client_secret = password))

sp

In [386]:
def get_musics(list_art):
    song = []
    for name in list_art:
        for number in range(0,750,50):
            result = sp.search(q = name ,limit = 50, offset=number)
            song.append(result)
    return song

In [340]:
singers = ['The Notorious B.I.G', 'OZUNA', 'MATHEUS & KAUAN', 'LUAN SANTANA', 'NEGRAMARO', 'The Script', 
           'EMINEM', '50 CENT', 'DENNIS', 'Rihanna', 'Luan Santana', 'Grupo Menos É Mais', 'Bad Bunny']

In [387]:
song_list = get_musics(singers)

In [371]:
len(song_list)

260

In [388]:
#get name of the artist and storing into a list
def sort_music_extr(data_list):
    song_duration = []
    song_title =[]
    artist_name = []
    for n in range (0,len(data_list)):
        for i in range (0,50):
            duration_extr = data_list[n]['tracks']['items'][i]['duration_ms']
            title_extr = data_list[n]['tracks']['items'][i]['name']
            name_extr = data_list[n]['tracks']['items'][i]['artists'][0]['name']
            artist_name.append(name_extr) 
            song_title.append(title_extr)
            song_duration.append(duration_extr)
            
    df = pd.DataFrame({'artist': artist_name, 'song_title': song_title, 'song_duration':song_duration })
    return df

In [389]:
df_songs = sort_music_extr(song_list)

In [390]:
df_songs

,artist,song_title,song_duration
0,The Notorious B.I.G.,Hypnotize - 2007 Remaster,230000
1,The Notorious B.I.G.,Hypnotize - 2014 Remaster,229826
2,The Notorious B.I.G.,Sky's the Limit (feat. 112) - 2014 Remaster,329426
3,The Notorious B.I.G.,Big Poppa - 2007 Remaster,249866
4,The Notorious B.I.G.,Big Poppa - 2005 Remaster,252746
...,...,...,...
9745,Jhayco,No Me Conoce - Remix,309546
9746,Jhayco,No Me Conoce - Remix,309546
9747,Cardi B,I Like It,253390
9748,Cardi B,I Like It,253390
9749,Cardi B,I Like It,253390